@using Shopping.Application.Modules.ProductsModule.Queries.ProductGetAllQuery;
@model IEnumerable<ProductGetAllRequestDto>

@{
    var reversedModel = Model.Reverse();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>

    <script defer src="~/Shopping/Js/Shop/index.js"></script>

    <style>
        #product-actions {
            display: flex;
            flex-wrap: nowrap;
            transition: 0.3s ease-in-out;
            position: absolute;
            width: 100%;
            z-index: 25;
        }

        .Primary-Actions {
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 1px;
            z-index: 30;
            left: -5px;
            position: absolute;
        }

        .Appear {
            opacity: 1 !important;
            visibility: visible !important;
            transition: 0.5s ease-in-out;
            transition: opacity 0.6s ease !important; /* Transition opacity over 0.3 seconds with ease timing function */
        }

        .Secondary-Actions {
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            bottom: 1px;
            right: 0px;
            position: absolute;
            z-index: 30;
            gap: 7px;
        }

        #add-to-wishlist,
        #quickview {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--Background-Dark);
            height: 32px;
            width: 30px;
            border-radius: 5px;
            will-change: color;
            transition: opacity 0.3s ease;
            opacity: 0;
            &:hover

        {
            background-color: var(--Main-Blue);
        }

        img {
            width: 15px;
        }

        }
    </style>

</head>
<body>

    <main role="main">

      <div class="Section-Availability">

        <div class="Main-Shop-Page">
          <div class="container">
            <div style="height: auto;" class="Row">

              <div class="Col-Sidebar Col">
                <div id="sidebar">
                  <div class="Filter-Form">

                    <div class="Widget-List">
                      <ul>

                        <!-- <li>
                          <a>
                            Filter-Item

                            <img src="~/Shopping/assets/icons/CancelIcon.svg" />

                          </a>
                        </li> -->

                        <li class="Active">
                          
                          <a>Clear all</a>

                        </li>

                      </ul>
                    </div>

                    <!-- Availability -->

                    <div class="Sidebar-Widget">
                      
                      <div class="Group-Title">
                        <h2>Availability</h2>
                        <img src="~/Shopping/assets/icons/AncleUp.svg" />
                      </div>
                      
                      <div class="Widget-Collapse">
                        
                        <div class="Filter-Value">
                          <span>0 Selected</span>
                          <a>Reset</a>
                        </div>
                        
                        <ul>

                          <li>
                            <input id="instock" type="checkbox" value="1" />
                            <label for="instock">In stock (Count)</label>
                          </li>

                          <li>
                            <input id="outofstock" type="checkbox" value="1" />
                            <label for="outofstock" >Out of stock (Count)</label>
                          </li>

                        </ul>
                      </div>
                    </div>

                    <!-- Price -->

                    <div class="Sidebar-Widget">
                      <div class="Group-Title">
                        <h2>Price</h2>
                        <img src="~/Shopping/assets/icons/AncleUp.svg" />
                      </div>
                      <div class="Widget-Collapse">
                        
                        <div class="Filter-Value">
                          <span class="Filter-Value-Selected">
                           "Price: "
                           <span id="money">$0.00</span>
                           " - "
                           <span id="money">$150.00</span>
                          </span>
                        </div>
                        
                        <div class="Sidebar-List-Style">
                          <div class="Price-Filter">
                            <div class="Filter-Range-Form">
                              <span>$</span>
                              <input id="Filter-Price" max="150.00" placeholder="0" min="0" type="number" value="0.00" />
                              <label for="Filter-Price">From</label>
                            </div>

                            <div class="Filter-Range-To">
                              <span>$</span>
                              <input id="Filter-Price" max="150.00" placeholder="0" min="0" type="number" value="150.00" />
                              <label for="Filter-Price">To</label>
                            </div>

                          </div>
                          <button id="Filter_Btn" type="submit">Filter</button>
                        </div>

                      </div>
                    </div>

                    <!-- Category -->

                    <div class="Sidebar-Widget">
                      <div class="Group-Title">
                        <h2>Product Category</h2>
                        <img src="~/Shopping/assets/icons/AncleUp.svg" />
                      </div>
                      <div class="Widget-Collapse">
                        
                        <div class="Filter-Value">
                          <span>0 Selected</span>
                          <a>Reset</a>
                        </div>
                        
                        <ul>

                          <li>
                            <input id="Pants" type="checkbox" value="1" />
                            <label for="Pants">Pants (Count)</label>
                          </li>

                          <li>
                            <input id="T-Shirts" type="checkbox" value="1" />
                            <label for="T-Shirts">T-Shirts (Count)</label>
                          </li>

                          <li>
                            <input id="Hoodies" type="checkbox" value="1" />
                            <label for="Hoodies">Hoodies (Count)</label>
                          </li>

                          <li>
                            <input id="Watches" type="checkbox" value="1" />
                            <label for="Watches">Watches (Count)</label>
                          </li>

                          <li>
                            <input id="Phones" type="checkbox" value="1" />
                            <label for="Phones">Phones (Count)</label>
                          </li>

                          <li>
                            <input id="Computers" type="checkbox" value="1" />
                            <label for="Computers">Computers (Count)</label>
                          </li>

                        </ul>
                      </div>
                    </div>

                    <!-- Brand -->

                    <div class="Sidebar-Widget">
                      <div class="Group-Title">
                        <h2>Brand</h2>
                        <img src="~/Shopping/assets/icons/AncleUp.svg" />
                      </div>
                      <div class="Widget-Collapse">
                        
                        <div class="Filter-Value">
                          <span>0 Selected</span>
                          <a>Reset</a>
                        </div>
                        
                        <ul>

                          <li>
                            <input id="CF-Brothers" type="checkbox" value="1" />
                            <label for="CF-Brothers">CF-Brothers (Count)</label>
                          </li>

                          <li>
                            <input id="Nike" type="checkbox" value="1" />
                            <label for="Nike">Nike (Count)</label>
                          </li>

                          <li>
                            <input id="Mac" type="checkbox" value="1" />
                            <label for="Mac">Mac (Count)</label>
                          </li>

                          <li>
                            <input id="Lenavo" type="checkbox" value="1" />
                            <label for="Lenavo">Lenavo (Count)</label>
                          </li>

                          <li>
                            <input id="MSI" type="checkbox" value="1" />
                            <label for="MSI">MSI (Count)</label>
                          </li>

                        </ul>
                      </div>
                    </div>

                    <!-- Color -->

                    <div class="Sidebar-Widget">
                      <div class="Group-Title">
                        <h2>Color</h2>
                        <img src="~/Shopping/assets/icons/AncleUp.svg" />
                      </div>
                      <div class="Widget-Collapse">
                        
                        <div class="Filter-Value">
                          <span>0 Selected</span>
                          <a>Reset</a>
                        </div>
                        
                        <ul>

                          <li>
                            <input id="Yellow" type="checkbox" value="1" />
                            <label for="Yellow">Yellow (Count)</label>
                          </li>

                          <li>
                            <input id="Pink" type="checkbox" value="1" />
                            <label for="Pink">Pink (Count)</label>
                          </li>

                          <li>
                            <input id="Dark" type="checkbox" value="1" />
                            <label for="Dark">Dark (Count)</label>
                          </li>

                          <li>
                            <input id="Blue" type="checkbox" value="1" />
                            <label for="blue">Blue (Count)</label>
                          </li>

                          <li>
                            <input id="Red" type="checkbox" value="1" />
                            <label for="Red">Red (Count)</label>
                          </li>

                        </ul>
                      </div>
                    </div>

                    <!-- Material -->

                    <div class="Sidebar-Widget">
                      <div class="Group-Title">
                        <h2>Material</h2>
                        <img src="~/Shopping/assets/icons/AncleUp.svg" />
                      </div>
                      <div class="Widget-Collapse">
                        
                        <div class="Filter-Value">
                          <span>0 Selected</span>
                          <a>Reset</a>
                        </div>
                        
                        <ul>

                          <li>
                            <input id="Glass" type="checkbox" value="1" />
                            <label for="Glass">Glass (Count)</label>
                          </li>

                          <li>
                            <input id="Cotton" type="checkbox" value="1" />
                            <label for="Cotton">Cotton (Count)</label>
                          </li>

                          <li>
                            <input id="Galvanized_Steel" type="checkbox" value="1" />
                            <label for="Galvanized_Steel">Galvanized Steel (Count)</label>
                          </li>

                          <li>
                            <input id="Plastic" type="checkbox" value="1" />
                            <label for="Plastic">Plastic (Count)</label>
                          </li>

                        </ul>
                      </div>
                    </div>

                    <!-- Size -->

                    <div class="Sidebar-Widget">
                      <div class="Group-Title">
                        <h2>Size</h2>
                        <img src="~/Shopping/assets/icons/AncleUp.svg" />
                      </div>
                      <div class="Widget-Collapse">
                        
                        <div class="Filter-Value">
                          <span>0 Selected</span>
                          <a>Reset</a>
                        </div>
                        
                        <ul>

                          <li>
                            <input id="xs" type="checkbox" value="1" />
                            <label for="xs">xs (Count)</label>
                          </li>

                          <li>
                            <input id="M" type="checkbox" value="1" />
                            <label for="M">M (Count)</label>
                          </li>

                          <li>
                            <input id="L" type="checkbox" value="1" />
                            <label for="L">L (Count)</label>
                          </li>

                          <li>
                            <input id="xl" type="checkbox" value="1" />
                            <label for="xl">xl (Count)</label>
                          </li>

                          <li>
                            <input id="ml" type="checkbox" value="1" />
                            <label for="ml">ml (Count)</label>
                          </li>

                          <li>
                            <input id="X" type="checkbox" value="1" />
                            <label for="X">X (Count)</label>
                          </li>

                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="Col-Right Col">

                <div class="Single-Banner">
                  <a>
                    <img src="~/Shopping/assets/images/DesignedLaptop.webp" />
                  </a>
                </div>

                <div class="Grid-List">

                  <!-- <div class="Grid-List-View">
                    <ul>
                      <li>
                        <a>
                          <img />
                        </a>
                      </li>
                      <li></li>
                    </ul>
                  </div> -->

                  <div class="Main-Toolbar-Sorter">
                    <div class="Toolbar-Sorter">
                      <label for="SortBy">Sort by</label>
                      <select id="SortBy" name="SortBy">
                        <option value="title-ascending">Alphabetically, A-Z</option>
                        <option value="title-descending">Alphabetically, Z-A</option>
                        <option value="price-ascending">Price, low to high</option>
                        <option value="price-descending">Price, high to low</option>
                        <option value="created-descending">Date, new to old</option>
                        <option value="created-ascending">Date, old to new</option>
                      </select>
                    </div>
                  </div>

                </div>

                <div class="Main-Categories">

                  <div class="Tab-Content">

                    @foreach (var product in Model)
                    {
                      <div class="Single-Product">
                        <div class="Pro-Img">
                            <a>
                                <img src="@(product.ImageUrl)" />
                            </a>
                        </div>
                        <div style="transition: 0.3s ease-in-out" class="Product-Content">
                             <h4>@product.Title</h4>
                            <div id="product_rating"></div>
                            <p>
                               <span style="transition: 0.5s ease-in-out" id="price">
                                    <span id="money">$@product.Price</span>
                                </span>
                                <del style="display: none;" id="prev_price">
                                    <span id="money">$150.00</span>
                                </del>
                            </p>
                            <div style="transform: translateY(20px)" id="product-actions">
                                <div class="Primary-Actions">
                                    <button class="Add-To-Cart"
                                            data-product-id="@product.Id"
                                            data-product-name="@product.Title"
                                            data-product-price="@product.Price"
                                            data-product-image="@product.ImageUrl">
                                        Add To Cart
                                    </button>
                                </div>
                                <div class="Secondary-Actions">
                                    <a id="add-to-wishlist"
                                        data-product-id="@product.Id"
                                        data-product-name="@product.Title"
                                        data-product-price="@product.Price"
                                        data-product-image="@product.ImageUrl">
                                        <img src="~/Shopping/assets/icons/WishIcon.svg" />
                                    </a>
                                    <a id="quickview">
                                        <img src="~/Shopping/assets/icons/Quickview.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                     </div>

                    }


                    <!-- 16 -->

                    @* <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/HD_TV.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div> *@

                  </div>

                  <div class="Tab-Content Deactive-Tab">

                    <!-- 1 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/Tablet.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$130.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 2 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/Telescope.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 3 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/Doleremque.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 4 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/HD_TV.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 5 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/Laptop.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$130.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 6 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/WhiteCamera.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 7 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/White_Xbox.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 8 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/HD_TV.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 9 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/Lamps.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$130.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 10 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/HD_TV.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 11 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/HD_TV.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 12 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/HD_TV.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 13 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/HD_TV.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$130.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 14 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/Phone-2.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 15 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/HD_TV.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- 16 -->

                    <div class="Single-Product">
                      <div class="Pro-Img">
                        <a>
                          <img src="~/Shopping/assets/images/Toaster.webp" />
                        </a>
                      </div>
                      <div class="Product-Content">
                        <h4>Demo Product Title</h4>
                        <div id="product_rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                          <del id="prev_price">
                            <span id="money">$150.00</span>
                           </del>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="~/Shopping/assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="~/Shopping/assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>

                <div class="Change-Page">
                  <div class="Change-Item">
                      <div class="Shop-Pagination">
                          <div id="pagination">
                              <ul id="list-inline">
                                  <div class="List-Prev Disable-Ancle">
                                      <img src="~/Shopping/assets/icons/AnclePrevious.svg" />
                                  </div>

                                  <li class="Active-List">1</li>
                                  <li>2</li>

                                  <div class="List-Next">
                                      <img src="~/Shopping/assets/icons/AncleNext.svg" />
                                  </div>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

</body>
</html>
