@using Shopping.Application.Modules.BlogPostsModule.Queries.BlogPostGetAllQuery
@model IEnumerable<BlogPostGetAllRequestDto>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="~/Shopping/sass/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <script defer src="./index.js"></script>
    <script defer src="../Views/Blog/index.js"></script>
    <script defer src="~/Shopping/common/functions/navigation.js"></script>
</head>
<body>

    <main role="main">
        <section class="Latest-Blogs">
            <div class="Blog-Area">
                <div class="container">
                    <div class="Row" style="display: flex; justify-content: center;">
                        <div class="Col-Header">
                            <div class="Section-Title">
                                <h3>ALL LATEST BLOGS</h3>
                            </div>
                        </div>
                        <div class="Col-Content" style="display: flex; justify-content: center;">


                            <div class="Row Active-Row" style="display: flex; justify-content: center;">

                                  @foreach(var blog in Model) {

                                    <div class="Col-Blog" style="width: 410px; height: 500px;">
                                        <div class="Single-Blog">

                                            <div class="Blog-Img">
                                                <a>
                                                    <img style="width: 410px;" src="@(blog.ImageUrl)" />
                                                </a>
                                            </div>

                                            <div class="Blog-Content">

                                                <div id="blog-content-upper">
                                                    <h6>@blog.Title</h6>
@*                                                     <p>
                                                        @Html.Raw(blog.Body?.Trim());
                                                    </p> *@
                                                    <div style="height: 110px;">
                                                        @Html.Raw(blog.Body?.Trim())
                                                    </div>  
                                                </div>

                                                <div id="blog-content-lower">
                                                    <a>Read more</a>
                                                    <span>@if(blog.PublishedAt != null)
                                                        {
                                                            @blog.PublishedAt?.ToShortDateString();
                                                        }
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                  }

                              </div>

@*                             <div class="Row Active-Row">

                                <!-- 1 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 2 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 3 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 4 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 5 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 6 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 7 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 8 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> *@

                            <div class="Row">

                                <!-- 1 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img-2.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 2 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img-2.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 3 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img-2.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 4 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img-2.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 5 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img-2.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 6 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img-2.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 7 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img-2.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 8 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img-2.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 9 -->

                                <div class="Col-Blog">
                                    <div class="Single-Blog">

                                        <div class="Blog-Img">
                                            <a>
                                                <img src="~/Shopping/assets/images/Blog-Img-2.webp" />
                                            </a>
                                        </div>

                                        <div class="Blog-Content">
                                            <div id="blog-content-upper">
                                                <h6>Temporibus autem quibusdam</h6>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
                                                </p>
                                            </div>
                                            <div id="blog-content-lower">
                                                <a>Read more</a>
                                                <span> 15/Apr/ 18</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="Change-Page">
                                <div class="Change-Item">
                                    <div class="Shop-Pagination">
                                        <div id="pagination">
                                            <ul id="list-inline">
                                                <div class="List-Prev Disable-Ancle">
                                                    <img src="~/Shopping/assets/icons/AnclePrevious.svg" />
                                                </div>

                                                <li class="Active-List">1</li>
                                                <li>2</li>

                                                <div class="List-Next">
                                                    <img src="~/Shopping/assets/icons/AncleNext.svg" />
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>