@using Shopping.Application.Modules.ProductsModule.Queries.ProductGetByIdQuery
@model ProductGetByIdRequestDto
@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Bootstrap Basic Tables</h4>
                    <span>
                        lorem ipsum dolor sit amet, consectetur adipisicing
                        elit
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="../index.html"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Bootstrap Table</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Basic Table</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Product Details</h5>
                    <span>
                        Add class of <code>.form-control</code> with
                        <code>&lt;input&gt;</code> tag
                    </span>

                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>
                </div>
                <div class="card-block">
                    <h4 class="sub-title">Basic Inputs</h4>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col-7">
                                <div class="form-group">
                                    <label class="control-label">Title</label>
                                    <p class="form-control">@Model.Title</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Category</label>
                                    <p class="form-control">@Model.CategoryName (@Model.CategoryId)</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Brand</label>
                                    <p class="form-control">@Model.BrandName (@Model.BrandId)</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Material</label>
                                    <p class="form-control">@Model.MaterialName (@Model.MaterialId)</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Color</label>
                                    <p class="form-control">@Model.ColorName (@Model.ColorId)</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Size</label>
                                    <p class="form-control">@Model.SizeName (@Model.SizeId)</p>
                                    <p class="form-control">@Model.SizeSmallName</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Price</label>
                                    <p class="form-control">@Model.Price</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Stock Count</label>
                                    <p class="form-control">@Model.StockCount</p>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group d-flex justify-content-end">
                                    <img src="@Model.ImageUrl" class="img-fluid" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-right m-0">
                            <input type="hidden" class="form-control" asp-for="Id">
                            <a class="btn btn-sm btn-warning" asp-action="edit" asp-route-id="@Model.Id">Edit</a>
                            <a class="btn btn-sm btn-primary" asp-action="index">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section addcss {
    <link rel="stylesheet" href="~/libs/single-image-chooser/single-image-chooser.css" />
}

@section addjs {
    <script src="~/libs/ckeditor5/ckeditor.min.js"></script>
    <script src="~/libs/single-image-chooser/single-image-chooser.js"></script>
    <script>
        $(document).ready(function () {

            $('#cover-image').singleImageChooser();

            ClassicEditor
                .create(document.querySelector('#body-editor'))
                .then(editor => { })
                .catch(error => { console.error(error); });

        });
    </script>
}